/* Estilos gerais */
.container-fluid {
    height: 100%;
  }
  
  .fundo-completo {
    padding: 100px;
  }
  
  .descricao {
    padding-top: 100px;
    text-align: left; 
  }
  
  .mensagem-bemvindo {
    color: #f1f1f1;
  }
  
  .mensagem-bemvindo h1 {
    font-size: 1.8rem;
  }
  
  .mensagem-bemvindo p {
    font-size: 1rem;
  }
  
  /* Estilos para a caixa de login */
  .caixa-login {
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    width: 100%;
  }
  
  /* Estilos para o formulário */
  .form-group {
    margin-bottom: 1.5rem; 
  }
  
  .controle-formulario {
    width: 100%; 
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #d9d9d9;
  }
  
  .btn-login {
    padding: 0.8rem;
    background-color: #3053aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }

  .logo {
    border-radius: 50%;
    background-color: #3053aa;
    height: 80px;
    width: 80px;
  }
  
  .btn-login:hover {
    background-color: #0045a0;
  }
  
  /* Estilos para o rodapé */
  .texto-rodape {
    color: #f1f1f1;
    text-align: center;
    margin-top: 1rem;
  }
  
  .texto-rodape a {
    color: #f1f1f1;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .texto-rodape a:hover {
    color: #ffffff; 
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .descricao p {
      width: 80%;
      font-weight: 300;
    }
  }
  