<nav class="navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/home">
          <img src="../../assets/img/logo.png" alt="" width="100" height="80" class="d-inline-block align-text-top">
      </a>

      <div class="dropdown d-flex">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              CONFIGURAÇÕES
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="minhaConta()">Minha conta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="sair()">Sair</a></li>
              <li><a class="dropdown-item" (click)="deletar()">deletar</a></li>

          </ul>
      </div>
  </div>
</nav>
