<div class="container full-height d-flex align-items-center">
    <div class="row justify-content-center w-100">
        <div class="col-3 d-flex justify-content-center align-items-center quadrado" (click)="teclado()">
            <img src="../../assets/img/controle/teclado.png" alt="Teclado">
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center quadrado" (click)="olho()">
            <img src="../../assets/img/controle/olho.png" alt="Ocular">
        </div>
    </div>
</div>
